@model IEnumerable<Course>;
@using FirstProject.Models.Enums;

@{
    ViewData["Title"] = "fdfsfds";
    Layout = "_Layout";
    int a = 1;
}

@if ((Model is null || Model.Count() == 0) && (ViewData["CurrentSearch"] is null && ViewData["CurrentSort"] is null && ViewData["CurrentGroup"] is null))
{
    <div class="container">
        <div class="row">
            <h3>No courses avaible!</h3>
            @* <p>Create new transaction and it will be attached to @ViewData["FacultyName"]<a asp-controller="Transaction" asp-action="Create" asp-route-facultyID="@ViewData["FacultyID"]"> Create Here!</a></p> *@
            <p>Create new course and it will be attached to @ViewData["FacultyName"]<a asp-controller="Course" asp-action="Create"> Create Here!</a></p>
        </div>
    </div>
}
else
{
    <div class="container">
    

    <div class="row">
        <div class="col-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row border-bottom-2">
                            <h5 class="border-bottom-2">Search</h5>
                        </div>
                        <form method="get" asp-action="Courses">
                            <div class="row">
                            
                                <label class="control-label">Search by course name:</label>
                                <input type="text" class="control-label mb-3" name="searchString" value="@ViewData["CurrentSearch"]"/>
                                <label class="control-label">Sort by:</label>
                                <select name="sort"class="mb-3"asp-items="@((SelectList)ViewData["SortOrder"]) ">
                                    <option value="@ViewData["CurrentSort"]">@ViewData["CurrentSort"]</option>
                                </select>
                                <label class="control-label">Group by:</label>
                                <select name="courseType" asp-items="@Html.GetEnumSelectList<CourseTypeEnum>()">
                                    @if (ViewData["CurrentGroup"] is null)
                                    {
                                        <option value="@null">-----</option>
                                    }
                                    else
                                    {
                                        <option value="@ViewData["CurrentGroup"]">@Enum.GetName(typeof(CourseTypeEnum), @ViewData["CurrentGroup"]!)</option>
                                    }
                                </select>
                                
                                <input type="hidden" name="facultyId" value="@ViewData["FacultyId"]"/>
                            </div>
                            <div class="row mt-4">
                                <input type="submit" class="btn btn-success" value="Search & Sort"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row text-center">
                <h4>
                    Course Overview
                </h4>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Total Students</th>
                        <th scope="col">Course Type</th>                        
                        <th scope="col">Attached Students</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (Course course in Model)
                    {
                        <tr>
                            <td>@a</td>
                            <td>@Html.DisplayFor(i => course.CourseName)</td>
                            <td>@Html.DisplayFor(i => course.TotalStudents)</td>
                            <td>@Html.DisplayFor(i => course.CourseType)</td>
                            <td>@Html.DisplayFor(i => course.Students.Count)</td>
                            <td>
                                <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseID">Edit</a> | 
                                <a asp-controller="Course" asp-action="Delete" asp-route-id="@course.CourseID">Delete</a> |
                                <a asp-controller="Course" asp-action="StudentView" asp-route-id="@course.CourseID", asp-route-facultyId="@ViewData["FacultyId"]">Students</a>
                            </td>
                        </tr>
                        a++;
                    }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a asp-controller="Course" asp-action="Create">Create new course</a>
                <a asp-controller="University" asp-action="Choose">Return to Faculty View</a>
                
            </div>
        </div>
    </div>
</div>

}
